{% extends "base.html" %}
{% block body %}

    <div class="content">
    <div class="UserInput-Box">
        <div class="JoinGame-Box">
            <button class="start button" type="button" onclick="joinGame()">
                JOIN GAME
            </button>
            <input class="room code" type="text" placeholder="Room Code" value=""/>

        </div>
        <div class="HostGame-Box">
            <button class="start button" type="button" onclick="hostGame()">
                HOST GAME
            </button>
        </div>
    </div>
    </div>


{% endblock %}
