{% extends "base.html" %}
{% block body %}

    <div class="content">
    <div class="UserInput-Box">
        <div class="JoinGame-Box">

        <form action="#", method="post">
            <p><input type="text", name="user_game_code"></p>
            <p><input class="start button"  type="submit" value="JOIN GAME"></p>
        </form>


        </div>

        <div class="HostGame-Box">
            <button class="start button" type="button" onclick="hostGame()">
                HOST GAME
            </button>
        </div>




    </div>
    </div>


{% endblock %}
