{% extends 'base.html' %} {% block body %}
<div class="content">
  <h1>You are in game {{code}}</h1>
  <h2>Wait for host to start game...</h2>
  <div id="content"></div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  socketio.on("message", (data) => {
    console.log(data);
    if ((data.action = "STARTGAME")) {
      startGame();
    }
  });
  function startGame() {
    const divContent = document.getElementById("content");
    divContent.innerHTML = `
        magiczna gra właśnie sie zaczeła
        <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjExZTQ5ZGY4OTY2Nzc4Njc2MTc2YjJhMzc3YjEzYjhlYjI5YTEwMCZjdD1z/atgjIXHBJNaSGcwm7r/giphy.gif">`;
  }
</script>
{% endblock %}
