{% extends 'base.html' %} {% block body %}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <button>START GAME</button>
    <div class="usersInLobby" id="usersInLobby"></div>
    <div class="inputs"></div>
</div>
<script type="text/javascript">
    var socketio = io();

    const usersInLobby = document.getElementById("usersInLobby");
    let users = [];

    const addUser = userName => {
        let content = "";
        users.push(userName);
        for (var i = 0; i < users.length; i++) {
            content += `
            <div class="user">
                <span>
                    <strong>${users[i]}</strong>
                </span>
            </div>`;
        }
        usersInLobby.innerHTML = content;
    };

    socketio.on("message", data => {
        addUser(data.name);
    });
</script>
<!-- {% for msg in messages %}
<script type="text/javascript">
    console.log("coś starego tutaj nie wiem co to")
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}  -->
{% endblock %}
